@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 240px;
  overflow-y: auto;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f0f0f017;
}

body {
  display: flex;
  place-items: center;
}
